.group {
  margin-top: 91px;
  display: flex;
  justify-content: space-between;

  .group__main {
    width: 635px;

    h2 {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
    }
  }

  .group__sub {
    display: flex;

    ul {
      margin-right: 30px;
      list-style: none;

      li {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.6;
        margin: 10px 0 0 0;
      }
    }
  }
}
