@use "fonts";

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: fonts.$main-font;
}

main {
  width: 80vw;
  margin: 0 auto;
}

@import "header";
@import "footer";
@import "title_section";
@import "content_grid";
